body{
  overflow: hidden;
}
ul{
  list-style-type: none;
}
/*home page*/
.homeBackGround{
  background-image: url(./images/theBeach.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.skyContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -20px;
}
#nameImg{
  margin-left: 70px;
  /*margin-top: -20px;*/
}
#navCloud{
  height: 175px;
  width: 275px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.beachContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
}
#tikiImg{
  width: 500px;
  height: 400px;
}
#castleImg{
  width: 350px;
  height: 375px;

}
/*nav bar*/
.menu > div.visible{
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}

.menu > div {
  background: rgba(18, 108, 161, 0.75);
  right: -250px;
  position: absolute;
  z-index: 2;
  top: 25%;
  width: 250px;
  height: 290px;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;

}
.menu > div > .menu-item {
  float: left;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 15px;
  padding-bottom: 10px;
  border-bottom: solid 3px #363C40;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
}
#bottomBar{
  display: flex;
  justify-content: center;
  border-bottom: none;
}
.linkIcon{
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
/*end of nav bar*/

@media (max-width: 1050px){
  .skyContainer{
  flex-wrap: wrap;
  justify-content: center;
  }
  .beachContainer{
  flex-wrap: wrap;
  }
}
/*end of home page*/

/*projects page*/
.projectsBackGround{
  background-image: url(./images/sandCastlePage.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.projectImg{
  height: 400px;
  width: 400px;
}
/*end of projects page*/

/*about page*/
.aboutBackGround{
  background-image: url(./images/tikiPage2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*end of about page*/




