
ul{
  list-style-type: none;
}
.homeBackGround{
  background-image: url(./images/theBeach.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.homeContainer{
  display: flex;
  flex-direction: row;
}
@media (max-width: 1050px){
  .homeContainer{
  flex-wrap: wrap;
}

}
.projectsBackGround{
  background-image: url(./images/sandCastlePage.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.projectImg{
  height: 400px;
  width: 400px;
}
.aboutBackGround{
  background-image: url(./images/tikiPage2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
