
#app{
  height: 100%;
}
.container{
  height: 100%;
  width: 100%;
}

.homeBackGround{
  background-image: url(theBeach.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.projectsBackGround{
  background-image: url(bambooPage.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.aboutBackGround{
  background-image: url(tikiPage.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
